#menu{
	width: 200px;
	/*border:solid 2px green;*/
	
}
.item{
	color:#F8F8FF;
	display: block;
	text-align: center;
	line-height: 45px;
	width:200px;
	height: 45px;
	/*font-size: 15px;*/
	/*margin: 5px;*/
	/*background-color: #808080;*/
	border-bottom:solid 1px white;
	position: relative;
	background-color: #808080;
	/*padding: 5px;*/
}
.triangle{
	/*margin-left: 50px;*/
	/*display: block;*/
	font-size:10px;
	/*width: 30px;
	height: 30px;*/
	/*float: right;*/
	line-height: 40px;
	position: absolute;
	/*margin-right: 10px;*/
	/*right: 10px;*/
	/*top: 10px;*/
	right: 10px;
}
#menu a{
	color:white;
	text-decoration:none;
}
.sub-item{
	display: none;
	visibility: 0;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color:#F8F8FF;
	border-bottom: solid 1px white;
	background-color:#B5B5B5;
}





